* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: rgb(46, 46, 104);
  color: white;
  text-align: center;
}

.app {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  margin: 50px 0;
}

#ab {
  width: 90%;
  max-width: 400px;
  margin: auto;
  display: flex;
  border-radius: 8px;
  margin-bottom: 50px;
}

#cd {
  cursor: pointer;
  flex: 1;
  height: 50px;
  border: none;
  outline: none;
  background: bisque;
  color: black;
  font-size: 18px;
  padding: 0 20px;
}

#searchButton {
  padding: 0 20px;
  height: 50px;
  background-color: red;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

#imageContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.image-item {
  display: flex;
  flex-direction: column; 
  align-items: center;
  max-width: 150px; 
  flex: 1 1 150px; 
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}

#showmore {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  margin: 20px auto;
  cursor: pointer;
}
@media (max-width: 768px) {
  #ab {
    flex-direction: column; 
  }

  #cd {
    width: 100%; 
    margin-bottom: 10px; 
  }

  #searchButton {
    width: 100%; 
  }

  .image-item {
    max-width: 100px; 
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 24px; 
  }

  #cd {
    font-size: 16px; 
  }

  #searchButton {
    font-size: 16px; 
  }

  #showmore {
    padding: 8px 16px; 
  }
}
